* {
    box-sizing:border-box;
}


@font-face {
    font-family: "banner";
    src: url("SankofaDisplay-Regular.ttf");
}



body {
background-image: url('background.png');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}